@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

/* VARIABLES */
:root {
  --hue-color: 240; /* Pink - 335, Blue - 240, Green - 154, Orange - 25 */
  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
}

/*===== Typography =====*/
:root {
  --body-font: 'Lato', sans-serif;
  --big-font-size: 3rem;
  --medium-font-size: 1.2rem;
  --small-font-size: 0.815rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.815rem;
    --tiny-font-size: 0.75rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span {
  font-size: var(--medium-font-size);
}

/*===== Border-radius =====*/
:root {
  --br-6: 6px;
}

/*===== Margin =====*/
:root {
  --m-0-25: 0.25rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2-5: 2.5rem;
}

/*=== Scrollbar ===*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #646464;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--first-color);
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  width: auto;
}

.slide-fwd-center:hover {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--first-color);
}

.special-link:hover {
  background-color: var(--first-color);
  transform: translateX(1s);
}

/* Glassmorphism card effect */
.card__container {
  padding: 0.75rem;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(
    166.47deg,
    rgba(255, 255, 255, 0.504) 0%,
    rgba(255, 255, 255, 0.371) 100%
  );
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: 30px;
}

.card__container h1 {
  margin-top: var(--nav-height);
}

.game__box {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  margin: 0.5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

.game__box img {
  border-radius: 50%;
  height: 6rem;
}

.game__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 0.5rem;
  justify-content: center;
}

.game__info span {
  color: var(--text-color);
  align-self: flex-start;
}

.game__version {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.game__progress {
  display: flex;
  height: 20%;
  background-color: var(--text-color-light);
  border-radius: 10px;
}

.game__percents {
  display: flex;
  color: green;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}

.news__box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0.5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}
.news__box img {
  border-radius: 50%;
  width: 100px;
}
.news__publisher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  text-align: left;
}
.news__title {
  color: var(--text-color);
  font-weight: 900;
  margin-left: 0.5rem;
}
.divider__horizontal {
  align-self: center;
  width: 100%;
  height: 0.25rem;
  background-color: #424242;
  border-radius: 10px;
}
.news__content {
  color: var(--text-color);
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
